.container__coffeeList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;

  background-image: url(../../../assets/pngegg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box__list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.title__list {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 0.2rem;
  padding: 0.5rem 0;
  color: antiquewhite;
  background-color: saddlebrown;
}

.row__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card__option {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid saddlebrown;
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px 1px saddlebrown;
}

.card__option img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.2rem;
}

.description__option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  gap: 1rem;
}

.description__option span {
  font-size: 16px;
}

.card__option button {
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 16px;
  background-color: saddlebrown;
  color: antiquewhite;
  cursor: pointer;
}

.description__option button:hover {
  box-shadow: 0px 0px 10px 1px saddlebrown;
}
